.payment_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 100px;
  border-radius: 25px;
  border: 2px solid rgb(11, 49, 80);
}

h1 {
  padding-top: 70px;
  text-align: center;
  color: #5ebafe;
}

img.rest {
  width: 100px;
  height: 100px;
  margin-top: 80px;
}

img.arrow {
  width: 80px;
  height: 80px;
  margin-top: 80px;
}

img.first {
  margin-left: 40px;
}
