.payment_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 50px;
  border-radius: 25px;
  border: 2px solid rgb(11, 49, 80);
}

h1 {
  padding-top: 50px;
  text-align: center;
}
