.container {
  display: block;
}

.e4-table {
  margin: 0;
  padding: 0;
  text-align: center;
}

.e4 {
  margin: 0;
  padding: 0;
  text-align: center;
}

h3 {
  text-align: center;
  color: #5ebafe;
}

h4 {
  text-align: center;
  color: #5ebafe;
}
