<h4>Starbucks purchase: 10€</h4>

<div>
  <table style="align-items: center;">
    <tr>
      <td width="25px"></td>
      <td width="30px"><h4>Your investment</h4></td>
      <td width="20px"></td>
      <td>
        <pokeball upperText="You: 1€ <br/> Starbucks: 0.5€" lowerText="Retirement: 150€" width="150px"></pokeball>
      </td>
      <td width="25px"></td>
    </tr>
  </table>
</div>

<div style="height: 10px"></div>

<div>
  <h4>Share on to get bonus</h4>
</div>

<a routerLink="/firstPost" routerLinkActive="active">
  <div class="e4">
    <img class="logo" src="../../../assets/facebook.png" alt="facebook logo" width="60px;" />&nbsp;
    <button type="button" class="btn btn btn-primary" style="width: 75px">0.15x</button>&nbsp;
  </div>

  <div style="height: 10px"></div>

  <div class="e4">
    <img class="logo" src="../../../assets/instagram.png" alt="instagram logo" width="60px" />&nbsp;
    <button type="button" class="btn btn btn-primary" style="width: 75px">0.5x</button>
  </div>
</a>

<div style="height: 30px"></div>

<div>
  <h5>Boost from your accont</h5>
</div>

<div style="height: 10px"></div>

<div class="e4">
  <img class="logo" src="../../../assets/boost.png" alt="boost logo" width="60px" />&nbsp;
  <button type="button" class="btn btn btn-primary" style="width: 75px">2x</button>
</div>
