<h3>Starbucks purchase: 10 EUR</h3>
<pokeball upperText="You: 1 EUR" lowerText="150 EUR" width="250px"></pokeball>

<div class="e1-logo">
  <img class="logo" src="../../../assets/boost.png" alt="boost logo" width="40px" />
  <button type="button" class="btn btn btn-primary">2x</button>
  <button type="button" class="btn btn btn-primary">5x</button>
  <button type="button" class="btn btn btn-primary">10x</button>

  <img class="logo" src="../../../assets/facebook.png" alt="facebook logo" width="40px" />
  <button type="button" class="btn btn btn-primary">0.25x</button>
  <img class="logo" src="../../../assets/instagram.png" alt="instagram logo" width="40px" />
  <button type="button" class="btn btn btn-primary">0.25x</button>
</div>
<div class="e1-space2"></div>
<div class="e1-login">
  <a routerLink="/e5" routerLinkActive="active">
    <button type="button" class="btn btn-success">Done</button>
  </a>
</div>
