.container {
  margin: 0;
  padding: 0;
  text-align: center;
}

.e1-logo {
  margin: 0;
  padding: 0;
  text-align: center;
}

.e1-space1 {
  height: 50px;
}

.e1-space2 {
  height: 50px;
}

.e1-login {
  margin: 0;
  padding: 0;
  text-align: center;
}
