<h4>Starbucks purchase: 10 EUR</h4>

<div class="e4">
  <table>
    <tr>
      <td width="25px"></td>
      <td width="30px"><h4>Your investment</h4></td>
      <td width="20px"></td>
      <td><pokeball upperText="You: 1 EUR" lowerText="150 EUR" width="180px"></pokeball></td>
      <td width="25px"></td>
    </tr>
  </table>
</div>

<div>
  <h4>Share on</h4>
</div>

<div class="e4">
  <img class="logo" src="../../../assets/facebook.png" alt="facebook logo" width="75px;" />&nbsp;
  <button type="button" class="btn btn btn-primary" style="width: 75px">0.15x</button>&nbsp;
  <!-- <img class="logo" src="../../../assets/instagram.png" alt="instagram logo" width="75px" />&nbsp;
  <button type="button" class="btn btn btn-primary" style="width: 75px">0.5x</button> -->
</div>

<div style="height: 10px"></div>

<div class="e4">
  <!-- <img class="logo" src="../../../assets/facebook.png" alt="facebook logo" width="75px;" />&nbsp;
    <button type="button" class="btn btn btn-primary" style="width: 75px">0.15x</button>&nbsp; -->
  <img class="logo" src="../../../assets/instagram.png" alt="instagram logo" width="75px" />&nbsp;
  <button type="button" class="btn btn btn-primary" style="width: 75px">0.5x</button>
</div>

<div style="height: 10px"></div>

<div>
  <h4>to get 0.25 bonus</h4>
</div>

<div style="height: 20px"></div>

<div>
  <h4>Boost from your accont</h4>
</div>

<div style="height: 10px"></div>

<div class="e4">
  <img class="logo" src="../../../assets/boost.png" alt="boost logo" width="60px" />&nbsp;
  <button type="button" class="btn btn btn-primary" style="width: 75px">2x</button>
</div>
