<div [ngStyle]="{ width: width }">
  <div class="circle">
    <div class="circle-inner">
      <div class="circle-wrapper">
        <div class="circle-up">
          <div class="content-container">
            <div class="content-square" [innerHTML]="upperText"></div>
          </div>
          <div class="circle-down">
            <div class="content-container">
              <div class="content-square">
                {{ lowerText }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
