/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

.background-logo {
  background-image: url("/assets/daily-invest.PNG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

html {
  position: absolute;
}

.full-view {
  height: 100%;
  width: 100%;
}
