<hello name="{{ name }}"></hello>
<p>
	Start editing to see some magic happen :)
</p>

<a class="btn btn-primary" [routerLink]="['/e1']">E1</a>
<a class="btn btn-primary" [routerLink]="['/e2']">E2</a>
<a class="btn btn-primary" [routerLink]="['/e3']">E3</a>
<a class="btn btn-primary" [routerLink]="['/e4']">E4</a>
<a class="btn btn-primary" [routerLink]="['/e5']">E5</a>

<button nz-button nzType="primary" [routerLink]="['/e1']">Primary</button>
<button nz-button nzType="primary" [routerLink]="['/e1']">Primary</button>
<button nz-button nzType="primary" [routerLink]="['/e1']">Primary</button>
<button nz-button nzType="primary" [routerLink]="['/e1']">Primary</button>
<button nz-button nzType="primary" [routerLink]="['/e1']">Primary</button>

<router-outlet></router-outlet>