<div class="section" id="upper" routerLink="/e3" routerLinkActive="active">
  <h3 style="text-align: center; color: #5ebafe">Your friends choices</h3>
  <table>
    <tr>
      <td>
        <div style="width: 100px;">
          <div class="circle">
            <div class="circle-inner">
              <div class="circle-wrapper">
                <div class="circle-up">
                  <div class="content-container">
                    <img src="../../../assets/bee.png" style="width: 45px; height: 45px;" />
                  </div>
                  <div class="circle-down">
                    <div class="content-container">
                      <div class="content-square">
                        ETF
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
      <!-- <div class="circle-cropper" role="img" style="background-image:url(../../../assets/bee.png);">
                  <div class="info">ETF</div>
                </div> -->

      <td>
        <pokeball upperText="1€" lowerText="Now" width="110px"></pokeball>
      </td>
      <td><i class="fas fa-arrow-right"></i></td>
      <td>
        <pokeball upperText="100€" lowerText="Retirement" width="110px"></pokeball>
      </td>
    </tr>
  </table>

  <div class="faces">
    <img src="../../../assets/twarz 1.jpg" class="rounded_face" />
    <img src="../../../assets/twarz 2.jpg" class="rounded_face" />
    <img src="../../../assets/twarz 3.jpg" class="rounded_face" />
    <div class="rounded_number">10+</div>
  </div>
</div>

<div class="section" id="lower" routerLink="/e3" routerLinkActive="active">
  <table>
    <tr>
      <td>
        <div style="width: 100px; font-weight: bold; font-size: 20px;">
          <div class="circle">
            <div class="circle-inner">
              <div class="circle-wrapper">
                <div class="circle-up">
                  <div class="content-container">
                    <img src="../../../assets/tiger.png" style="width: 45px; height: 45px;" />
                    <!-- <div class="content-square" style="background-image:url(../../../assets/bee.png);"> -->
                    <!-- </div> -->
                  </div>
                  <div class="circle-down">
                    <div class="content-container">
                      <div class="content-square">
                        IF
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div style="width: 110px;">
          <div class="circle">
            <div class="circle-inner">
              <div class="circle-wrapper">
                <div class="circle-up">
                  <div class="content-container">
                    <div class="content-square">
                      1€
                    </div>
                  </div>
                  <div class="circle-down">
                    <div class="content-container">
                      <div class="content-square">
                        Now
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
      <td>
        <i class="fas fa-arrow-right"></i>
      </td>
      <td>
        <div style="width: 110px;">
          <div class="circle">
            <div class="circle-inner">
              <div class="circle-wrapper">
                <div class="circle-up">
                  <div class="content-container">
                    <div class="content-square">
                      80 - 150€
                    </div>
                  </div>
                  <div class="circle-down">
                    <div class="content-container">
                      <div class="content-square">
                        Retirement
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>

  <div class="faces">
    <img src="../../../assets/twarz 1.jpg" class="rounded_face" />
    <img src="../../../assets/twarz 2.jpg" class="rounded_face" />
    <img src="../../../assets/twarz 3.jpg" class="rounded_face" />
    <div class="rounded_number">10+</div>
  </div>
</div>
