<div class="section" id="upper">
  <div class="circle-cropper" role="img" style="background-image:url(../../../assets/bee.png);">
    <div class="info">ETF</div>
  </div>
  <div class="faces">
    <img src="../../../assets/twarz 1.jpg" class="rounded_face" />
    <img src="../../../assets/twarz 2.jpg" class="rounded_face" />
    <img src="../../../assets/twarz 3.jpg" class="rounded_face" />
    <div class="rounded_number">10+</div>
  </div>
</div>

<div class="section" id="lower">
  <div class="circle-cropper" role="img" style="background-image:url(../../../assets/tiger.png);">
    <div class="info">IF</div>
  </div>
  <div class="faces">
    <img src="../../../assets/twarz 4.jpg" class="rounded_face" />
    <img src="../../../assets/twarz 5.jpg" class="rounded_face" />
    <img src="../../../assets/twarz 6.jpg" class="rounded_face" />
    <div class="rounded_number">5</div>
  </div>
</div>
