h1 {
  font-family: Lato;
}

.section {
  margin: 50px 20px 20px 20px;
}
.faces {
  margin-top: 10px;
}

.circle-cropper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  position: relative;
  margin-right: 20px;
}

.circle-cropper .info {
  padding-left: 40%;
  position: absolute;
  bottom: 0;
  font-weight: bold;
  color: #5ebafe;
}

.rounded_face {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: inline;
  border: 1px solid #5ebafe;
}

.rounded_number {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  position: absolute;
  display: inline;
  color: #5ebafe;
  border: 1px solid #5ebafe;
  text-align: center;
  //background-color: blue;
}
