h1 {
  font-family: Lato;
}

.rounded_animal {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.circle-cropper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  position: relative;
}

.circle-cropper .info {
  padding-left: 40%;
  position: absolute;
  bottom: 0;
  font-weight: bold;
}

.rounded_face {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
