<div class="upper">
  <div class="circle-cropper" role="img" style="background-image:url(../../../assets/bee.png);">
    <div class="info">ETF</div>
  </div>
</div>
<div id="faces1">
  <img src="../../../assets/twarz 1.jpg" class="rounded_face" />
  <img src="../../../assets/twarz 2.jpg" class="rounded_face" />
  <img src="../../../assets/twarz 3.jpg" class="rounded_face" />
  <img src="../../../assets/twarz 4.jpg" class="rounded_face" />
</div>
<div class="lower">
  <div class="circle-cropper" role="img" style="background-image:url(../../../assets/tiger.png);">
    <div class="info">IF</div>
  </div>
</div>
<div id="faces2">
  <img src="../../../assets/twarz 5.jpg" class="rounded_face" />
  <img src="../../../assets/twarz 6.jpg" class="rounded_face" />
</div>
