@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.hidden {
  display: none;
}

.header-div {
  padding: 0.5rem 1rem;
  margin-bottom: 16px;
}

.centre {
  text-align: center !important;
}
