<!-- <pokeball [upperText]="15" [lowerText]="" [height]=""></pokeball>-->

<div style="width: 120px;">
  <div class="circle">
    <div class="circle-inner">
      <div class="circle-wrapper">
        <div class="circle-up">
          <div class="content-container">
            <div class="content-square">
              15 €
            </div>
          </div>
          <div class="circle-down">
            <div class="content-container">
              <div class="content-square">
                This Week
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="width: 120px;">
  <div class="circle">
    <div class="circle-inner">
      <div class="circle-wrapper">
        <div class="circle-up">
          <div class="content-container">
            <div class="content-square">
              150 €
            </div>
          </div>
          <div class="circle-down">
            <div class="content-container">
              <div class="content-square">
                This Month
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
